site_name: py-gomma
repo_url: https://github.com/mainframeindustries/py-gomma
site_url: https://mainframeindustries.github.io/py-gomma
site_description: A collection of packages used at the Mainframe
site_author: Kristj치n Valur J칩nsson

nav:
  - Home: index.md
  - Modules: modules.md
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
            setup_commands:
                - import sys
                - sys.path.append('../')
                - sys.path.append('src')
copyright: Maintained by Kristj치n Valur J칩nsson.
theme:
  name: material
  feature:
    tabs: true
  palette:
    primary: white
    accent: blue
markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true